extends layout

block content
  h1= title
  p Welcome to #{title}
  a(href="/new") New Message
  div
    each message in messages
        div 
          p #{message.user}
          p #{message.added}
          p #{message.text}